

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;  
}
.banner-subtitle{
    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
position: static;
width: 622px;
height: 201px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
}
.banner-btn{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;
background: rgb(0, 106, 80);
margin: 24px 0px;
position: static;
width: 250px;
height: 56px;
justify-content: center;
align-items: center;


}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 117px 59.99px 177px 59.99 ;
}
.header{
    border-radius: 24px;
    background: rgb(198, 228, 214);
position: static;
width: 1280px;
height: 560px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;
flex: none;
order: 0;
flex-grow: 0;
margin:80px  auto;
}
.section-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: 0 auto;
padding: 80px 700px   32px  ;
margin: 32px 0px;
gap: 32;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
}
.skills-container{
    display: flex;
    gap:24px;
}
.skill{
    padding: 24px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06)  ;
    border-radius: 16px;
   padding:200px;
   
}